@import "bootstrap-sprockets";
@import "bootstrap";

.messages {
  height: 88vh;
  overflow: scroll;
  margin-bottom: 10px;
}

.bords {
  border-bottom: 1px solid gray;
}

.pads {
  padding-top: 20vh;
}

.logout {
  width: 100%;
  margin-top: 5vh;
}